
*{
	margin:0px;
	padding:0px;
}
body{
	background:#141414;
	font-family:Arial , serif;
}

.netflix-logo{
	margin:15px;
	width:9%;
	height:auto;
}

.netflix-logo img{ 
	display:flex;
	height:auto;
	max-width: 100%;
}

.header-wrapper{ 
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.real-header{width:100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.links-wrapper{
	display:flex;
}

.linksde{
	font-weight: 200 ;
	text-decoration: none;
	font-size:16px;
	color:grey;
	display:flex;
	padding:0 10px; 
}


.perfil-wrapper{
	justify-content: flex-start;
	align-items: center;
	display:flex;
	flex-direction:row;
	width:50%;
	padding-right: 30px;
	height: auto;
	}

.perfil-wrapper img[src$="pa.png"]{
	display:flex;
	height:auto;
	width: 20px;
}

.right-header{
	margin:12px 12px;
}

.perfil-wrapper img[src$="ente.png"]{
	display:flex;
	height: auto;
	max-width: 22px;
}

.perfil-wrapper img[src$="ells.png"]{
	display:flex;
	height: auto;
	max-width: 23px;
}

.perfil-wrapper img[src$="perfil.png"]{
	display:flex;
	height: auto;
	max-width: 35px;
}

.main-film{display:flex;
	color:white;
	margin:0 4%;
	width:90%;
	height: 30em;
	padding:15px;

	border-radius:10px;
	flex-direction: column;
	justify-content: flex-end;
	background:radial-gradient(rgba(0,0,0,.50), rgba(0,0,0,0.50)100%), url(breaking_bad.png);
	background-size:cover;}

.main-text{margin-top: 10px;
	display:flex;
	font-size: 16px;
	width:60%;
}

.main-title{font-size: 32px;
	display:flex;
}

.buttons-main{
	display:flex;
	padding:0 15px;
}

.buttons-main .assistir{
	color:white;
	border:none;
	background:rgb(0,0,0,0.5);
	display:flex;

	padding:15px 30px;
	margin:8px;
	font-size:16px;
	border-radius: 8px;

	cursor:pointer;
	transition: .3s ease all;
}

.assistir:hover{
	background:white;
	color:black;
}

.buttons-main i{
	margin-right: 15px;
}


.body-wrapper{
	display:flex;
	flex-direction: column;
}

.carousel{
	display: flex;
	margin: 10px 0;
}

.box-filme{
	height:100%;
	width: 100%;
	display:block;
}